
body{
	background: #ffffff;
}
.slick-slide:focus{
outline: none;
}
.d-f-c-start{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.d-f-c-c{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.d-f-c-around{
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.d-f-start-around{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
}
.d-f-start-c{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}

.d-f-end-start{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: flex-start;
}
.d-f-end-start{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	align-content: flex-end;
}
.d-f-start-end{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: flex-end;
}
.d-f-start-between{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
}
.d-f-c-between{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.d-f-end-between{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	align-content: flex-end;
}
.block-title{
	text-align: center;
	font-family: 'SangBleu Sunrise';
	color: #553F3F;
	font-size: 46px;
	font-style: normal;
font-weight: normal;
margin: 0px;
}



/* hero-slider */
.hs-circle--background{
	fill: none;
	stroke: rgba(255, 255, 255, 0.45);
	stroke-width: 3;
}
a:focus{
	outline: none;
	text-decoration: none;
}

.hero{
	position: relative;
	/* max-height: 900px; */
}

.hs-circle--bar{
	fill: none;
	stroke: #fff;
	stroke-width: 3;
	stroke-dasharray: 100 100;
	/* stroke-dashoffset: 100; */
	stroke-linecap: round;
	transition: linear;
}

.hs-circle{
	transform: rotate(-90deg);
}
.hs-circle--inside{
	fill: rgba(255, 255, 255, 0.45);
	stroke: none;
}
.slick-dots {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.hero .slick-dots{
position: relative;
width: auto;
bottom: auto;
}
.hs-slide-pregress,.slide-pregress{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.hs-slide-pregress{
	height: 80px;
}
.hero .slick-dots li{
	margin: 0;
	margin-right: 20px;
}

.curent-slide-text{
	margin: 0px;
	margin-left: 40px;
	max-width: 370px;
	font-family: 'TT Commons';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 138%;
color: #553F3F;

}
.hs-dots{
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0;
}
.hero .slick-dots li {
	width: 7px;
	height: 7px;
	background:transparent;
}
.hero .slick-dots li button {
	width: 11px;
	height: 11px;
	color: transparent;
	background: transparent;
}
.hero .slick-dots li.slick-active,
.hero .slick-dots li:hover {
	background: transparent;
}

.hero .slick-dots li button:before {
top:50%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 0;
width: 11px;
height: 11px;
background: #fff;
opacity: 0.45;
border-radius: 11px;
transition: 250ms ease;
}
.hero .slick-dots li button:focus:before, .slick-dots li button:hover:before{
	opacity: 1;
	background: #fff;
}

.hero .slick-dots .slick-active button:before{
	margin: 0;
	margin-right: 20px;
	opacity: 1;
}

.hs-tiitle{
	font-family: 'SangBleu Sunrise';
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 127%;
margin: 0px;
color: #553F3F;
margin-bottom: 30px;
}
.hs-descr{
font-family: 'TT Commons';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 138%;
color: #553F3F;
margin: 0px;
}
.hs-container{
	width: 96%;
	max-width: 1700px;
	margin: 0 auto;


}
.hs-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding-top: 15vh;
padding-bottom: 15vh;
}
.hs-slide-left{
	width: 41.666666%;
	max-width: 605px;
	z-index: 10;
}
.hs-slide-right{
	width: 50%;
}
.hs-slide-right .hs-box{
	width: 100%;
	z-index: 10;
	position: relative;
	max-height: 600px;
}
.hs-decore-line{
	position: absolute;
	top: 0;
	right: calc(100vw - 95%);
	height: 102%;
	width: auto;
}
.hero-slide{
	/* padding-top: 15vh;
	padding-bottom: 10vh; */
	position: relative;
	overflow: hidden;

}
.hero-slides{
	position: relative;
	/* height: 80vh; */
}
.slick-slider{
	margin-bottom: 0px!important;
}
.slick-slide{
    height: inherit !important;
}
.slick-slide{
	height: auto;
}
.hs-link{
	font-family: 'TT Commons';
	font-weight: 500;
	font-size: 22px;
	line-height: 1;
display: inline-block;
	padding:  21px 86px 17px 86px;
	background: #FF8D88;
	color: #fff;
box-shadow: 0px 24px 54px rgba(0, 0, 0, 0.06);
border-radius: 47px;
margin-top: 8vh;
transition: 250ms ease;
}
.hs-link:hover{
	text-decoration: none;
	color: #fff;
	box-shadow: 0px 24px 54px rgba(0, 0, 0, 0.0);
	background-color: rgba(255, 142, 136, 0.8);
}
.hs-link:visited{
	color: #fff;
}
@media (max-width:1420px){
	.hs-tiitle{
		font-size: 48px;
	}
	.hs-content{
		padding-bottom: 120px;
	}
}
@media (max-width:1180px){
	.hs-slide-right{
		width: 58%;
	}
}
@media (max-width:1180px){
	.hs-tiitle{
		font-size: 42px;
	}
	.hs-link{
	margin-top: 50px;
	}
	.hs-descr{
		font-size: 20px;
	}
}

@media (max-width:998px){
	.hs-tiitle{
		font-size: 32px;
	}
	.hs-link{
	margin-top: 30px;
	font-size: 20px;
	}
	.hero{
		position: relative;
		max-height: none;
	}
}
@media (max-width:768px){
.hs-content{
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	padding-top: 130px;
	padding-bottom: 130px;
}
.hs-dots{
	bottom: 120px;
}
.hs-slide-pregress{
	height: auto;
}
.hs-slide-pregress{
	justify-content: center;
}
.slide-pregress{
	display: none;
}
.hs-tiitle{
	margin-bottom: 15px;
}
.hs-slide-left,.hs-slide-right{
	width: 100%;
}
.hs-slide-right{

	max-width: 90%;
	margin: 0 auto;
	margin-top: 30px;
}
.hs-slide-left{
	order: 0;
	max-width: 467px;
	height: 180px;
}
.hs-slide-right{
	order: 1;
	margin-bottom: 20px;
}
.hs-link{
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin: 0px;
	transform: translate(-50%,0);
	z-index: 24;
	white-space: nowrap;
}
.hero .slick-dots li button:before {
	width: 6px;
	height: 6px;
	opacity: 1;
	}
	.hero .slick-dots li{
		margin-right: 13px;
	}
	.hero .slick-dots .slick-active button:before{
		width: 10px;
		height: 10px;
	}

}



@media (max-width:468px){
.hs-slide-left{
	height: 160px;
	max-width: 280px;
}
.hs-tiitle{
	font-size: 24px;
}
.hs-descr{
	font-size: 16px;
}
.hs-slide-right{
	margin-top: 0px;
}
.hs-link{
	bottom: 23px;
	width: 94%;
	text-align: center;
	padding: 16px 0;
}
.hs-dots{
	bottom: 100px;
}
.hs-content{
	padding-top: 74px;
}
.hs-slide-right{
	margin: 0;
	width: 100%;
}
}


/*hero-slider-end*/


/* header */
.header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	height: 80px;
	right: 50%;
	transform: translate(50%,0);
	border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
	background: transparent;
	transition:border-bottom,background 250ms ease-in-out;
}

.menu-links-list{
	padding: 0;
	margin: 0;
	list-style: none;
}
.header-content{
	height: 100%;
}
.sign-up{
	border-left: 1.5px solid rgba(255, 255, 255, 0.5);
}
.menu-link,.sign-up{
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: normal;
font-size: 22px;
color: #ffffff;
line-height: 80px;
background-color: rgba(255, 255, 255, 0);
transition-property: background-color, color,border-left;
transition: background-color 250ms ease-in-out;
height: 100%;

}
.menu-link:hover,.sign-up:hover{
text-decoration: none;
background-color: rgba(255, 255, 255, 0.3);
}

.menu-link a,.sign-up a{
font-size: inherit;
color: inherit;
line-height: 80px;
display: block;
margin: 0px 2px;
padding: 0px 30px;
}
.menu-link a:hover,.sign-up a:hover{
text-decoration: none;
	}

.logo-container{
	height: 100%;
	width: 140px;
padding-left: 30px;
border-left: 1.5px solid rgba(255, 255, 255, 0.5);
transition:border-left,fill 250ms ease-in-out;
}
.logo-container svg{
width: 100%;
fill: #fff;
}
.header-solid{
	border-bottom:  1.5px solid rgb(137, 137, 137,0.2);
	background: #fff;
}
.header-solid .menu-link,.header-solid .sign-up{
color: #A9A9A9;

}
.header-solid .logo-container,.header-solid .sign-up{
	border-left:  1.5px solid rgb(137, 137, 137,0.2);

}
.header-solid .logo-container svg{
	width: 100%;
	fill: #FF9994;
	}
	.header-solid	.menu-link,.header-solid .sign-up{
		transition-property: background-color, color;
		transition:250ms ease-in-out;
	}
	.header-solid	.menu-link:hover,.header-solid .sign-up:hover{
		text-decoration: none;
		background-color: rgba(255, 153, 148,0.1);
		color:#FF9994;
		}

		.sign-up .link-get-box{
			display: none;
		}
		.menu-button{
			display: none;
		}
@media(max-width:992px){

.menu-link a,.sign-up a{

	margin: 0px 0px;
    padding: 0px 25px;
	}
}

@media(max-width:768px){
	.menu-links{
display: none;
	}
	.sign-up .link-sign-up{
		display: none;
	}
	.sign-up .link-get-box{
		display: block;
		padding: 0;
		color: #837E7E;
		padding-right: 22px;
		padding-left: 22px;
	}
.logo-container svg{
		fill: #FF9994;
		}
		.logo-container {
			border:none;
			left: 50%;
    position: absolute;
		transform: translate(-50%, 0px);
		padding-left: 0px;
		width: 120px;
		}
	.sign-up{
		margin-right: 0px;
		border-left: none;
	}
	.header{
		border:none;
		background: #fff;
	}
	.header-solid .logo-container,.header-solid .sign-up{
		border:none;
	}
		.header-content{
			justify-content: space-between;
		}
		.menu-button {
			display: flex;
			justify-content: flex-start;
			padding-left: 22px;
			align-items: center;
			flex: 0 0 80px;
			height: 80px;
			position: relative;
		}
		.menu-button-line-one,.menu-button-line-two{
			position: absolute;
			width: 36px;
			height: 3.5px;
			background: #C4C4C4;
			transition:background 250ms ease-in,width 250ms ease-in;
		}
		.menu-button-line-one{
			transform: translate(0,-5px);
		}
		.menu-button-line-two{
			transform: translate(0,5px);
		}
	}
	@media(max-width:468px){
		.header{
			height: 50px;
		}
		.sign-up{
			line-height: 50px;
			font-size: 14px;
			line-height: 1;
		}
	.sign-up a{
		line-height: 50px;
	}
	.sign-up .link-get-box{
		padding-right: 0px;
	}
	.logo-container{
		padding-left: 0px;
		width: 70px;
		justify-self: center;
	}
	.menu-button {
		display: flex;
		width: 25px;
		height: 50px;
		flex: 0 0 25px;
		justify-content: flex-start;
		padding-left: 0;
	}
	.menu-button-line-one,.menu-button-line-two{
		position: absolute;
		width: 22px;
		height: 2px;
		background: #C4C4C4;
		border-radius: 2px;
	}

	.menu-button-line-one{
		transform: translate(0,-4px);
	}
	.menu-button-line-two{
		transform: translate(0,4px);
	}
	}




/* featured */

.featured{
	background: #FBF6F6;
	padding: 50px 0px;
	position: relative;
	transform: translate(0px,-5px);
}
.featured-title{
	font-family: 'SangBleu Sunrise';
	font-size: 20px;
	color: #402F2F;
	width: 30%;
	margin: 0;
	font-weight: 300;
}
.featured-logo{
	width: auto;
	max-height: 32px;
	margin-right: 40px;
	opacity: 0.35;
	transition: opacity 350ms ease;
	cursor: pointer;
	position: relative;
}
.featured-logo:last-child{
	margin-right: 0;
}
.featured-logo:hover{
	opacity: 0.80;
}
.featured-logo img{
width: 100%;
}
.forbes{
	max-width: 92px;
}
.tc{
	max-width: 55px;
}
.bi{
	max-width: 86px;
}
.masable{
	max-width: 132px;
}
.in-touch{
	max-width: 104px;
}
.msm{
	max-width: 55px;
}
.featured-logos{
	width: 70%;
	max-width: 880px;
}
@media (max-width:992px){
	.featured-title{
		width: 25%;
		font-size: 16px;
	}
	.featured-logos{
		width: 75%;
	}
	.featured-row{
		justify-content: space-between;
	}
	.featured-logo{
		margin-right: 30px;
	}
}
@media (max-width:768px){
	.featured-title{
		width: 100px;
		font-size: 14px;
	}
	.featured-logos{
		width: calc(100% - 140px)
	}
}
@media (max-width:668px){
	.featured-row{
		flex-direction: column;
	}
	.featured-title{
		margin-bottom: 28px;
	}
	.featured-logos{
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.forbes img{
		min-width: 58px;
	}
	.tc img{
		min-width: 34px;
	}
	.bi img{
		min-width: 50px;
	}
	.masable img{
		min-width: 78px;
	}
	.in-touch img{
		min-width: 62px;
	}
	.msm img{
		min-width: 42px;
	}
	.featured-logo{
		flex: 0 0 33.33333%;
		max-width: 33%;
		margin: 0;
		display: flex;
		justify-content: center;
		padding: 5px 10px;
		margin-bottom: 12px;
	}
	.forbes{
	order: 0;
	}
	.tc{
	order: 1;
	}
	.bi{
	order: 3;
	}
	.masable{
		order: 4;
	}
	.in-touch{
		order: 5;
	}
	.msm{
	order: 2;
	}
	.featured{
		padding-top: 25px;
		padding-bottom: 25px;
	}
}





/* howitworks */
.howitworks-card-title{
	font-family: 'SangBleu Sunrise';
	font-size: 20px;
	color: #ED7873;
	margin: 0;
	text-align: center;
}
.howitworks-card{
	flex-direction: column;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	width: 25%;
	margin: 0px 35px;
}
.howitworks-card-img{
	margin-bottom: 64px;
	height: 214px;
}
.howitworks-card-img img{

	width: 100%;
}
.howitworks-card-descr{
	font-family: 'TT Commons';
	color: #837E7E;
	font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
text-align: center;
margin: 0;
margin-top: 38px;
}
.movement{
	max-width: 285px;
}
.movement img{
	max-width: 285px;
	transform: translate(17px,0);
}
.box{
	max-width: 280px;
	width: 20%;
}
.experience{
	max-width: 400px;
	width: 35%;
}
.experience img{
	transform: translate(23px,0);
}
.experience .howitworks-card-descr{
max-width: 278px;
}

.howitworks{
	margin-top: 105px;
}
.howitworks .block-title{
	margin-bottom: 105px;
}
@media (max-width:992px){
	.block-title{
		font-size: 30px;
	}
	.howitworks .block-title{
		margin-bottom: 65px;
	}
	.howitworks-card-img{
		margin-bottom: 32px;
		height: 200px;
	}
	.howitworks-card{
		margin: 0px 15px;
	}
}



@media (max-width:768px){
	.howitworks{
		margin-top: 52px;
	}
	.movement,.box,.experience{
		max-width: none;
	}
	.block-title{
		font-size: 28px;
	}
	.howitworks .block-title{
		margin-bottom: 55px;
	}
	.howitworks-cards{
		flex-direction: column;
		align-items: center;
		align-content: center;
	}
	.howitworks-card-img{
		height: 128px;
		margin-bottom: 20px;
	}
	.howitworks-card-img img{
		height: 100%;
	}
	.howitworks-card{
		width: 100%;
		margin: 0;
		margin-bottom: 52px;
	}
	.howitworks-card-title{
		font-size: 24px;
	}
	.howitworks-card-descr{
		font-size: 16px;
		max-width: 354px;
		margin-top: 18px;
	}
}
@media (max-width:468px){
	.block-title{
		font-size: 24px;
	}
}
/* subscription */
.subscription .block-title{
	margin-bottom: 128px;
}
.subscription-block{
	max-width: 284px;
	margin: 0 68px;
	width: 50%;
}
.subscription-block img{
width: 100%;
}
.subscription-block:first-child{
margin-left: 0px;
}
.subscription-block:last-child{
	margin-right: 0px;
	}
.subscription-blocks{
	margin-bottom: 100px;
	position: relative;
}
.subscription-blocks:last-child{
	margin-bottom: 0;
}
.subscription-descr{
	font-family: 'TT Commons';
	color: #8A8484;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
		line-height: 128.2%;
    margin: 0;
}
.subscription-title-strong{
	font-family: 'SangBleu Sunrise';
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 130%;
	color: #432E37;
	margin:45px 0 30px 0;
}
.subscription{
	position: relative;
	margin-top: 266px;
}
.subscription-decore-line{
	position: absolute;
	width: 100%;
	top: 15%;
}
@media(max-width:768px){
	.subscription-blocks{
		margin: 0 0 42px 0;

	}
	.subscription{
		position: relative;
		overflow: hidden;
		margin-top: 132px;
	}
.subscription-decore-line{
	width: 200%;
	transform: translate(-30%,0);
	top: 10%;
}
	.subscription-block{
max-width: 205px;
width: 40%;
margin: 0;

	}
	.subscription-title-strong{
		font-size: 22px;
		margin:35px  0 25px 0;
	}
	.subscription .block-title{
		margin-bottom: 75px;
	}
	.subscription-descr{
		font-size: 14px;
line-height: 128.2%;
	}
	.subscription-block:first-child{
		margin-right: 7%;
		}
		.subscription-block:last-child{
			margin-left: 7%;
			}
}
@media(max-width:468px){
	.swipe-content{
		display: flex;
		justify-content: flex-start;
		overflow-x: scroll;
	}
	.subscription{
		margin-top: 126px;
	}
	.subscription-block{
		min-width: 170px;
	}
	.subscription-blocks{
		flex: 0 0 auto;
	}
	.subscription .hs-container{
		width: 100%;
	}
	.subscription-blocks:first-child{
		margin-left: 20px;
	}
	.subscription-block:first-child{
		margin-right: 45px;
	}
	.subscription-block:last-child{
		margin-left: 0px;
	}
	.subscription-title-strong{
		font-size: 18px;
		margin: 21px 0 15px 0;
	}
	.subscription-decore-line{
		top: 5%;
		width: 250%;
	}
	.subscription-blocks{
		margin-bottom: 0;
	}
}

/* box-themes */
.box-themes{
	background:url('../img/box-theme/box-theme-bg.svg');
	padding-top: 220px; 
	margin-top: 182px;
	overflow: hidden;
	padding-bottom: 286px;
	background-repeat: no-repeat;
}
@media(min-width:1970px){
	.box-themes{
		background-repeat: repeat-x;
	}
}
.box-slide-title{
	font-family: 'SangBleu Sunrise';
	font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
	color: #553F3F;
	margin: 40px 0 18px 0;
}
.box-slide-descr,.box-slide-link{
	font-family: 'TT Commons';
	font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130.5%;
	color: #8A8484;
	margin: 0px;
}
.box-slide-item{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 0 30px;
}
.box-slide-img{
width: 100%;
transition: 250ms ease;
}

.box-slider{
	max-width: 1098px;
	margin: 0 auto;
	margin-top: 90px;
	width: 80%;
}
.box-slider .slick-slide div{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.box-slider .slick-next, .box-slider .slick-prev{
	width: 16px;
	height: 31px;
	transition: 250ms ease;
	opacity: 1;
}
.box-slider .slick-next{
	right: -75px;
}
.box-slider .slick-prev{
	left: -75px;
}
.box-slider .slick-next:before{
	content:'';
	background-image:url('../img/box-theme/box-slider-right-arrow.svg');
	width: 16px;
	height: 31px;
	background-size: 16px 31px;
	display: inline-block;
}
.box-slider .slick-prev:before{
	content:'';
	background-image:url('../img/box-theme/box-slider-left-arrow.svg');
	width: 16px;
	height: 31px;
	background-size: 16px 31px;
	display: inline-block;
}
.box-slider .slick-next:hover,.box-slider .slick-prev:hover{
opacity: 0.6;
}
.box-slide-img-container{
	position: relative;
	transition: opacity 250ms ease-in-out;
}
.box-slide-zoome{
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 27px;
	height: 27px;
	transition: 250ms ease;
}
.box-slide-img-container:hover .box-slide-zoome{
	transform: scale(1.2);
	}
	.box-slide-img-container:hover{
		opacity: 0.8;
		}
		.box-slide-img-container:hover{
			cursor: pointer;
		}
@media(max-width:992px){
	.box-slide-title{
		font-size: 24px;
	}
}
@media(max-width:768px){

	.box-themes{
		padding-top: 150px;
		background-position: 20% 0%;
		margin-top: 132px;
		padding-bottom: 128px;
		background-size:cover;
	}
	.box-slide-item{
		padding: 0;
		margin: 0 auto;
		display: block;
		width: 100%;
		padding: 0 10px;
	}
	.box-slider .slick-slide div{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		
	}
	.box-slider .slick-next{
		right: -25%;
	}
	.box-slider .slick-prev{
		left: -25%;
	}
	.box-slider{
		margin-top: 48px;
		max-width: 300px;
	}
.box-slide-title{
	font-size: 20px;
	text-align: center;
	margin: 20px 0 17px 0;
}
.box-slide-descr,.box-slide-link{
	font-size: 16px;
	text-align: center;
}
}
@media(max-width:468px){
	.box-themes{
		padding-top: 150px;
		background-position: 35% 0%;
		margin-top: 80px;
		padding-bottom: 135px;
	}
	.box-slider .slick-next{
		right: -35px;
	}
	.box-slider .slick-prev{
		left: -35px;
	}
	.box-slider{
		width: 70%;
	}
	.box-slide-item{
		margin: 0 15px;
	}
	.box-slide-descr,.box-slide-link{
		font-size: 14px;
	}
	.box-slide-title{
		margin: 16px 0 14px 0;
	}
	.box-slider{
		margin-top: 75px;
	}
	.box-slide-zoome{
		display: none!important;
	}
}




/* box-modal */
.box-modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: auto;
	outline: 0;
	background-color: rgba(255, 255, 255, 0.66);

}
.box-modal-dialog{
	max-width: 586px;
	margin: 1.75rem auto;
	position: relative;
    width: auto;
		pointer-events: none;
		min-height: calc(100% - 3.5rem);
		display: flex;
		align-items: center;
		align-content: center;
}
.box-modal-content{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .3rem;
		outline: 0;
		box-shadow: 0 20px 62px rgba(211, 211, 211, 0.34);
		border-radius: 8px;
}
.box-modal.open-box-modal{
	animation: fadein .15s linear;
	transition-property: opacity;
}
@keyframes fadein{
	0%{
opacity: 0;
	}
	100%{
opacity: 1;
	}
}
.box-modal-dialog{
	transition: 150ms;
}
.open-box-modal .box-modal-dialog{
	animation: translateDown .35s linear forwards;
}

@keyframes translateDown{
	0%{
    opacity: 0;
    transform: scale(0.6) translate3d(0,0%,0);
  }


  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

.close-button{
	width: 15px;
	height: 15px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.box-modal-title{
	font-family: 'SangBleu Sunrise';
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 112%;
	color: #553F3F;
	margin:24px 0px 24px 32px ;
}
.box-modal-slider{
	background: #FBFBFB;

}

.box-modal-slider .slick-next:before{
	content: '';
    background-image: url('../img/box-theme/box-slider-right-arrow.svg');
    width: 16px;
    height: 31px;
    background-size: 16px 31px;
    display: inline-block;
}
.box-modal-slider .slick-prev:before{
	content: '';
    background-image: url('../img/box-theme/box-slider-left-arrow.svg');
    width: 16px;
    height: 31px;
    background-size: 16px 31px;
    display: inline-block;
}
.box-modal-slider .slick-next, .box-modal-slider .slick-prev {
	width: 16px;
	height: 31px;
	transition: 250ms ease;
	opacity: 1;
}
.box-modal-slider .slick-next{
	right: 24px;
}
.box-modal-slider .slick-prev {
	left:24px;
	z-index: 100;
}

.box-modal-slider .slick-dots li{
	margin: 0;
	margin-right: 15px;
}

.box-modal-slider .slick-dots li {
	width: 7px;
	height: 7px;
	background:transparent;
}
.box-modal-slider .slick-dots li button {
	width: 11px;
	height: 11px;
	color: transparent;
	background: transparent;
}
.box-modal-slider .slick-dots li.slick-active,
.box-modal-slider .slick-dots li:hover {
	background: transparent;
}

.box-modal-slider .slick-dots li button:before {
top:50%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 0;
width: 6px;
height: 6px;
background: #A5A5A5;
opacity: 0.45;
border-radius: 11px;
transition: 250ms ease;
}
.box-modal-slider .slick-dots li button:focus:before, .slick-dots li button:hover:before{
	opacity: 1;
	background: #A5A5A5;
}
.box-modal-slider .slick-dots .slick-active button:before{
	margin: 0;
	margin-right: 11px;
	opacity: 1;
	width: 8px;
height: 8px;
}
.box-modal-slider .slick-dots{
	bottom: 20px;
	justify-content: center;
}
.box-modal-descr-container{
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 123.4%;
	color: #8F8F8F;
	width: 70%;
	margin: 0 auto;
	margin-top: 25px;
}
.box-modal-descr-container strong{
	color: #232323;
}
.box-modal-link{
	font-family: 'TT Commons';
	font-weight: 500;
	font-size: 22px;
	line-height: 1;
	display: block;
	padding: 19px 0 15px 0;
	background: #FF8D88;
	color: #fff;
	box-shadow: 0px 24px 54px rgba(0, 0, 0, 0.06);
	border-radius: 47px;
	transition: 250ms ease;
	width: 70%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 47px;
	margin-top: 60px;
}
.box-modal-link:hover{
	text-decoration: none;
	color: #fff;
	box-shadow: 0px 24px 54px rgba(0, 0, 0, 0.0);
	background-color: rgba(255, 142, 136, 0.8);
}
.box-modal-close{
	width: 20px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	top: 30px;
	right: 30px;
}
.box-modal-close svg{
	fill: #B1B1B1;
	transition: 250ms ease-in;
	width: 100%;
}
.box-modal-close:hover svg{
	fill: #FF8D88;
}
.box-slider-img{
	max-height: 480px;
	height: 100%;
}
.box-slider-img img{
	height: 100%;
	width: auto;
}


@media(max-width:468px){
	.box-modal-descr-container{
		font-size: 14px;
		width: auto;
		margin: 25px;
	}
	.box-modal-link{
		margin-bottom: 25px;
		width: calc(100% - 50px);
		margin-top: 0;
		font-size: 20px;
	}
	.box-modal-title{
		font-size: 24px;
		margin: 20px 0px 19px 25px;
	}
	.box-modal-close{
		top:23px;
		right: 25px;
	}
	.box-slider-img{
		max-height: 340px;
		height: 340px;
	}
	.box-modal-dialog{
		max-width: 96%;
	}
}

/* impact */
.impact{
	margin-top:166px;
	overflow: hidden;
	padding-bottom: 316px;
	position: relative;
}
.impact-head-icon-title{
	width: 56%;
	flex: 0 0 56%;
	padding-right: 10%;
}
.impact-head-icon-title img{
	flex: 0 0 67px;
	width: 100%;
	max-width: 67px;
}
.impact .block-title{
	line-height: 0.9;
	margin-left: 30px;
	position: relative;
}
.impact-list{
	margin: 0;
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 125%;
	color: #8A8484;
	margin-top: 22px;
padding-right: 10%;
}
.impact-head,.impact-cols{
	max-width: 1426px;
	margin: 0 auto;
}
.impact-cols{
	flex-wrap: wrap;
}
.impact-col-left{
	width: 27%;
	position: relative;
	z-index: 10;
	flex: 0 0 27%;
}
.impact-col-mid{
	width: 25%;
	flex: 0 0 25%;
}
.impact-col-right{
	width: 42%;
	position: relative;
	z-index: 10;
	flex: 0 0 42%;
}
.impact-col-img{
	width: 100%;
}
.impact-after-text{
	font-family: 'SangBleu Sunrise';
	font-style: normal;
font-weight: normal;
font-size: 37px;
line-height: 135%;
color: #958F8F;
margin: 0;
margin-top: 50px;
max-width: 345px;
}
.impact-head{
	margin-bottom: 118px;
}
.impact-decore-line{
	position: absolute;
	width: 100%;
	top: 10%;
	left: 0%;
	max-height: 940px;
}
.impact-list-col{
	margin-bottom: 118px;
	width: 42%;
	position: relative;
	z-index: 10;
	flex: 0 0 42%;
}
@media(max-width:992px){
	.impact .hs-container{
		width: 100%;
	}
	.impact-decore-line{
		width: 150%;
		top: 15%;
    left: -25%;
	}
	.impact-after-text{
		font-size: 24px;
		max-width: 230px;
		margin-top: 30px;
	}
	.impact-col-right{
		width: 348px;
		flex: 0 0 348px;
		margin: 0 25px;
	}
	.impact-col-left{
		width: 225px;
		flex: 0 0 225px;
		margin: 0 25px;
	}
	.impact-col-mid{
		width: 209px;
		flex: 0 0 209px;
		margin: 0 25px;
	}
	.impact-img-block{
		justify-content: center;
		margin-left: -50px;
	}
	.impact-list{
		margin-top: 36px;
	}
	}
@media(max-width:768px){
.impact .hs-container{
	width: 100%;
	overflow-x: hidden;
}
.impact-list{
	font-size: 16px;
}
.impact-head-icon-title{
	width: 45%;
	flex: 0 0 45%;
}
.impact-list-col{
	margin-bottom: 70px;
	width: 55%;
	position: relative;
	z-index: 10;
	flex: 0 0 55%;
}
.impact-head-icon-title img{
	flex: 0 0 40px;
	width: 100%;
	max-width: 40px;
}
.impact-after-text{
	font-size: 21px;
	max-width: 168px;
}
.impact-list{
	margin-top: 13px;
}
}
@media(max-width:468px){
	.impact-head-icon-title{
		width: 100%;
		flex: 0 0 100%;
		order:0;
		margin-bottom: 48px;
		padding-right:0px;
	}
	.impact-list-col{
		width: 100%;
		flex: 0 0 100%;
		order:2;
		padding-left: 40px;
		margin-bottom: 0;
	}
	.impact-img-block{
		order:1;
		margin-bottom: 62px;
		margin-left: -100px;
	}
	.impact-head-icon-title{
		justify-content: center;
	}
	.impact .block-title{
		margin-left: 13px;
	}
	.impact-decore-line{
		width: 1330px;
		top: -2%;
    left: -55%;
	}
	.impact{
		padding-bottom: 171px;
	}
}

/* all-box */
.all-boxes .box-slide-item{
	max-width: 100%;
}
.all-boxes .box-slide-title{
text-align: center;
}
.all-boxes .box-slide-link{
	text-align: center;
	color: #FF8D88;
	transition: 250ms;
	}
	.box-slide-link:hover{
		opacity: 0.5;
		cursor: pointer;

	}
@media(max-width:768px){
	.all-boxes .box-slider{
		margin-top: 33px;
    max-width: 400px;
	}
	.all-boxes .box-slider .slick-next{
		right: -15px;
	}
	.all-boxes .box-slider .slick-prev{
		left: -15px;
	}
}
@media(max-width:468px){
	.all-boxes .box-slider{
		width: 100%;
	}
	.all-boxes .box-slider .slick-next{
		right: 0px;
	}
	.all-boxes .box-slider .slick-prev{
		left: 0px;
		z-index: 10;
	}
	.all-boxes .box-slide-item{
margin: 0;
	}
}


	/* artisans */
	.artisans{
		margin-top: 200px;
	}
	.artisans .block-title{
margin-bottom: 72px;
	}
	.col-3s{
		/* max-width: 405px; */
		flex: 0 0 33%;
		padding: 0 1.5%;
	}
	.retail-number-wrapper{
		width: 45px;
		height: 45px;
		border-radius: 45px;
		background-color: #FFA0A0;
	}
	.retail-number{
		text-align: center;
    font-family: 'SangBleu Sunrise';
		font-size: 26px;
		color: #FFFFFF;
		line-height: 1;
		margin-top: 3px;
    font-style: normal;
    font-weight: normal;
	}
	.retail-title{
    font-family: 'SangBleu Sunrise';
		color: #958F8F;
		font-size: 26px;
		line-height: 150%;
		margin-top: 25px;
    font-style: normal;
		font-weight: normal;
		min-height: 108px;
		margin-bottom: 0;
	}
	.retail-text{
		font-family: 'TT Commons';
		margin: 0;
		color: #8A8484;
		font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 125%;
	}
	.sub-title-line,.retail-cols{
		max-width: 1376px;
		margin: 0 auto;
		width: 100%;
	}
	.sub-line{
		flex: 1 0 auto;
		height: 1.5px;
		background-color: #FF9F9F;
		padding:0 1.5%;
	}
	.sub-title-line{
		margin-bottom: 40px;
	}
	.artisans-subtitle{
		margin: 0;
		margin:0 1.5%;
		font-family: 'TT Commons';
    font-style: normal;
    font-weight: 500;
		font-size: 36px;
		line-height: 133%;
		color: #553F3F;
	}
	.col-3s:first-child{
		padding-left:0; 
		padding-right: 3%;
	}
	.col-3s:last-child{
		padding-right:0; 
		padding-left:3%; 
	}
	.artisans-colored{
		color: #FF9F9F;
font-size: 30px;
	}
	.sub-title-line-colored{
		margin-bottom: 116px;
	}
	.retail-cols{
		margin-bottom: 65px;
	}
	.fair-trade .retail-title{
		min-height: auto;
		text-align: center;
	}
	.fair-trade .col-3s{
		padding: 0;
	}
	.fair-trade-cols{
		max-width: 1098px;
		margin: 0 auto;
		margin-bottom: 63px;
	}
	.fair-trade-col-s4{
		width: 25%;
		flex: 0 0 25%;
		max-width: 200px;
	}
	.fair-trade-icon-descr{
		font-family: 'TT Commons';
		color: #8A8484;
		text-align: center;
		font-size: 24px;
		font-style: normal;
font-weight: normal;
line-height: 129%;
margin: 0;
margin-top: 31px;
	}
	.fair-trade-icon{
		width: 106px;
		height: 106px;
		margin: 0 auto;
	}
	.fair-trade-icon img{
	width: 100%;
	}
	.artisans-gutter{
		width: 40%;
		height: 1.5px;
		background: #FF9F9F;
		margin-bottom: 87px;
		position: relative;
	}
	.artisans-gutter:before{
		content: '';
		height: 87px;
		width: 1.5px;
		position: absolute;
		left: 50%;
		top: 0;
		background: #FF9F9F;
	}
	.after-retail-title{
		text-align: center;
		margin: 0;
		font-family: 'TT Commons';
		color: #553F3F;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		line-height: 129%;
	}
	.payment-section .retail-title{
		margin-top: 0;
		text-align: center;
		margin-bottom: 58px;
		height: auto;
		min-height: auto;
	}
	.plase-order .col-3s{
		width: 100%;
		flex: 0 0 100%;
	}
	.not-fair-modal-swipe,.mobile-swipe-descr{
		display: none;
	}
@media(max-width:992px){
	.artisans-subtitle{
		font-size: 28px;
	}
	.retail-title{
		font-size: 20px;
		min-height: 88px;
	}
	.retail-text{
		font-size: 18px;
	}
	.after-retail-title{
		font-size: 22px;
	}
	.fair-trade-icon-descr{
		font-size: 16px;
	}
	.sub-title-line-colored{
		margin-bottom: 60px;
	}
	.artisans-gutter{
		margin-bottom: 60px;
	}
	.artisans-gutter:before {
		height: 60px;
	}
	.retail-cols{
		margin-bottom: 50px;
	}
}
@media(max-width:768px){
	.artisans-subtitle{
		font-size: 20px;
	}
	.retail-title{
		font-size: 17px;
		min-height: 88px;
	}
	.retail-text{
		font-size: 16px;
	}
	.after-retail-title{
		font-size: 20px;
	}
	.fair-trade-icon-descr{
		font-size: 16px;
	}
	.sub-title-line-colored{
		margin-bottom: 60px;
	}
	.artisans-gutter{
		margin-bottom: 50px;
	}
	.artisans-gutter:before {
		height: 50px;
	}
	.artisans-gutter{
		width: 30%;
	}
	.retail-cols{
		margin-bottom: 35px;
	}
	.sub-title-line, .retail-cols,.fair-trade-cols{
		max-width: 90%;
	}
	.artisans .block-title{
		margin-bottom: 65px;
	}
	.retail-number-wrapper{
		width: 35px;
		height: 35px;
	}
	.retail-number{
		font-size: 20px;
	}
	.fair-trade-icon{
		width: 58px;
		height: 58px;
	}
	.fair-trade .retail-title{
		margin-top: 14px;
	}
	.fair-trade-col-s4{
		width: 20%;
		flex: 0 0 20%;
		padding: 0 10px;
	}
	.fair-trade-cols{
		justify-content: center;
		margin-bottom:45px;
	}
	.sub-title-line{
		margin-bottom: 15px;
	}
	.payment-section .retail-title{
		margin-bottom: 40px;
	}
	.artisans{
		margin-top: 157px;
	}
}
@media(max-width:578px){
	.cols-mobile-swipe{
		width: 100%;
		max-width: 100%;
	}
	.fair-trade-col-s4 {
		width: 25%;
    flex: 0 0 25%;
    padding: 0 10px;
	}
	}
@media(max-width:524px){
.cols-mobile-swipe{
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	justify-content: flex-start;
	overflow-x: scroll;
}
.fair-trade .col-3s{
	width: 100%;
	flex: 0 0 100%;
}
.cols-mobile-swipe .col-3s{
	width: 100%;
	flex: 0 0 100%;
	padding: 0 10%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	padding-bottom: 20px;
}
.mobile-swipe-descr{
	margin-top: 50px;
}
.mobile-swipe-text{
	color:#FF9993;
	font-family: 'TT Commons';
	font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 100%;
margin: 0;
padding-top: 2px;
}
.swipe-icon{
	width: 21px;
height: 11px;
margin-left: 8px;
}
.swipe-icon img{
	width: 100%;
}
.not-fair-modal-swipe,.mobile-swipe-descr{
	display: flex;
}
.not-visible-swipe{
	display: none;
}
.not-fair-modal-swipe p{
	font-family: 'TT Commons';
	font-weight: 600;
font-size: 23px;
line-height: 133%;
text-align: center;
color: #FF9F9F;
margin: 0;
margin-top: 30px;
}
.artisans-gutter{
	width: 100%;
}
}
@media(max-width:468px){
	.retail-title{
		font-size: 20px;
		min-height: 56px;
		margin-bottom: 24px;
	}
	.cols-mobile-swipe .col-3s{
		padding:0 5%;
		padding-bottom: 20px;
	}
	.sub-title-line{
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.sub-line{
		width: 100%;
	}
	.sub-line:last-child{
display: none;
	}
	.artisans-subtitle{
		margin-top: 22px;
	}
	.retail-cols{
		margin-bottom: 0;
	}
	.payment-section .retail-title{
		font-size: 20px;
		margin-bottom: 20px;
	}
	.fair-trade-col-s4{
		width: 50%;
		flex: 0 0 50%;
		margin-bottom: 24px;
	}
	.fair-trade-cols{
		flex-wrap: wrap;
	}
	.fair-trade-icon-descr{
		margin-top: 12px;
	}
	.artisans .block-title{
		margin-bottom: 30px;
	}
}

	/* questions */
	.questions{
		margin-top: 135px;
		background: #ECF5F5;
		padding-top: 120px;
		padding-bottom: 80px;
		position: relative;
		margin-bottom: 80px;
	}
	.questions:after{
		content: '';
		width: 100%;
		height: 200px;
		background: url('../img/questions/full-after.png');
		position: absolute;
		background-position: top center;
		top: -50px;
		left: 50%;
		transform: translate(-50% , 0);

	}
	.questions:before{
		content: '';
		width: 100%;
		height: 200px;
		background: url('../img/questions/full-after.png');
		position: absolute;
		background-position: bottom center;
		bottom: -75px;
		left: 50%;
		transform: translate(-50% , 0);

	}
	.questions .hs-container{
		max-width: 958px;
		width: 75%;
	}
	.questions .hs-container > *{
		position: relative;
		z-index: 10;
	}
	.questions .block-title{
margin-bottom: 100px;
text-align: left;
padding-left: 10%;
	}
	.accordion{
		position: relative;
		user-select: none;
		transition:opacity 350ms ease-in-out;
		opacity: 1;
	}
	.accordion:hover{
		opacity: 0.5;
		cursor: pointer;
	}
	.accordion-row{
		margin-bottom: 38px;
	}
	.answer{
		padding: 0 18px;

    max-height: 0px;
    overflow: hidden;
		transition: max-height 350ms ease-in-out;
		padding-left: 10%;
	}
	.questions-question{
		font-family: 'TT Commons';
		font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 133%;
color: #462C37;
margin: 0;
padding-left: 10%;
transition:color 350ms ease-in-out;
width: 100%;
	}
	.questions-icon{
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0,-50%) rotate(180deg);
		width: 26px;
		height: 26px;
		transition: 350ms ease-in-out;
	}
	.questions-icon svg{
		fill: #BDBDBD;
		width: 100%;
	}
	.answer-text{
		font-family: 'TT Commons';
		font-style: normal;
		font-weight: 300;
		font-size: 22px;
		line-height: 130%;
		color: #8D8D8D;
		opacity: 1;
		transition:opacity 350ms ease-in-out;
		margin-top: 37px;
		margin-bottom: 66px;
	}
	.accordion-active .questions-icon{
		transform: translate(0,-50%) rotate(0deg);
	}
	.accordion-active .questions-icon svg{
		fill: #FF8D88;
	}
	.accordion-active .questions-question{
		color: #FF8D88;
	}
	.accordion-desct-hide  .answer-text{
		opacity: 0;
		transition:opacity 350ms ease-in-out;
	}
	.before-questions .hs-link{
margin-top: 0px;
	}
	@media(max-width:992px){
		.questions .block-title{
			margin-bottom: 70px;
		}
		.questions-question{
			font-size: 24px;
		}
		.answer-text{
			font-size: 18px;
		}
	}
	@media(max-width:768px){
		.questions{
			padding-top: 60px;
			margin-top: 140px;
			padding-bottom: 30px;
		}
		.questions .block-title{
			margin-bottom: 50px;
		}
		.questions-question{
			font-size: 20px;
		}
		.answer-text{
			font-size: 16px;
			margin-top: 15px;
			margin-bottom: 50px;
		}
		.questions-icon{
			width: 20px;
			height: 20px;
		}
		.accordion-row{
			margin-bottom: 24px;
		}
	}
	@media(max-width:468px){
		.questions .hs-container{
			width: 85%;
		}
		.questions{
			padding-top: 30px;
			padding-bottom: 10px;
			margin-top: 60px;
		}
		.questions .block-title{
			margin-bottom: 26px;
			text-align: left;
			padding-left: 10%;
		}
		.questions-question{
			font-size: 17px;
		}
		.answer-text{
			font-size: 12px;
			margin-top: 16px;
			margin-bottom: 38px;
		}
		.questions-icon{
			width: 14px;
			height: 14px;
		}
		.accordion-row{
			margin-bottom: 20px;
		}
	}

	/* block-link */
	.block-link{
		font-family: 'TT Commons';
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
    display: inline-block;
    padding: 21px 86px 17px 86px;
    background: #FF8D88;
    color: #fff;
    box-shadow: 0px 24px 54px rgba(0, 0, 0, 0.06);
    border-radius: 47px;
		transition: 250ms ease;
		margin-top: 60px;
	}
	.block-link:hover{
		text-decoration: none;
    color: #fff;
    box-shadow: 0px 24px 54px rgba(0, 0, 0, 0.0);
    background-color: rgba(255, 142, 136, 0.8);
	}
	@media(max-width:768px){
		.block-link{
			margin-top: 40px;
		}
	}
	@media(max-width:468px){
		.block-link{
		width: 100%;
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		}
	}
	/* footer */
	.footer{
		margin-top: 180px;
		padding-bottom: 65px;
	}
	.footer-container{
	
max-width: 1098px;
width: 96%;
margin: 0 auto;
	}
	.footer-row{
		border-top: 1px solid #FF9993;
		padding-top: 48px;
		display: flex;
		flex-wrap: wrap;
		justify-content: stretch;
	}
	.f-col{
		width: 25%;
		flex:0 0 25%;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
	}	
	.f-col-lg{
		width: 85%;
		flex: 0 0 85%;
		align-self: flex-end;
	}
	.f-col-sm{
		width: 15%;
		flex: 0 0 15%;
	}
	.fair-trade-logo-wrapper{
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}
	.fair-trade-logo-wrapper img{
		width: 100%;
		max-width: 154px;
	}
	.footer-logo-row{
		padding-top: 68px;
		border-top: 1px solid #FF9993;
		margin-right: 15%;
	}
	.footer-logo{
		width: 134px;
		margin-right: 20px;
	}
	.footer-logo img{
		width: 100%;
	}
	.links-list{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.footer-link{
		font-family: 'TT Commons';
		width: auto;
display: inline-block;
		font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 184.2%;
color: #958F8F;
margin: 0;
	}

	.footer-title{
		font-family: 'TT Commons';
		font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 128.2%;
color: #FF8484;
margin: 0 0 11px 0;
	}
	.footer-logo-row .footer-link{
		margin:0px 10px;
		font-size: 18px;
	}
.footer-form{
	position: relative;
	width: 100%;
}
.footer-form input{
	width: 100%;
	border:none;
	height: 40px;
	border-bottom: 1px solid #FF9993;
	padding-left: 10px;
	padding-right: 35px;
	padding: 10px 35px 10px 15px;
}
.footer-form input:focus{
outline: none;
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.06);
}

.footer-form button{
	position: absolute;
	right: 0;
height: 40px;
width: 40px;
padding: 0;
padding: 0 5px;
background: transparent;
border: none;
transition: 250ms ease;
}
.footer-form button:hover{
	transform: translate(5px,0);
}
.footer-form input:not(:placeholder-shown) + button{
	background-color: rgba(255, 160, 160, 0.2);
}
.footer-form button img{
	width: 100%;
}
	@media(max-width:992px){
		.footer-logo-row{
			margin-right: 5%;
		}
		a.footer-link{
			font-size: 18px;
		}
		.footer-logo-row p.footer-link, .footer-logo-row a.footer-link{
			font-size: 16px;
		}
		
	}
	@media(max-width:768px){
		.footer-title{
			margin-bottom: 30px;
			font-size: 18px;
		}
		.footer{
			margin-top: 147px;
		}
		.footer-row{
			padding-top: 44px;
		}
		.footer-logo-row{
			margin-right: 3%;
		}
		a.footer-link{
			font-size: 18px;
		}
		.footer-logo{
			max-width: 112px;
		}
		.f-col{
			margin-bottom: 40px;
		}
	}
	@media(max-width:578px){
		.footer-container{
			width: 90%;
		}
		.footer-logo-row{
			margin-right: 0;
		}
		.mobile-1{
			order:0;
		}
		.mobile-2{
			order:1;
		}
		.mobile-3{
			order:2;
		}
		.f-col-sm{
			order:3;
			flex: 0 0 25%;
			width: 25%;
		}
		.mobile-4{
			order:4;
			width: 100%;
			flex: 0 0 100%;
		}
		.f-col-lg{
			order:5;
			width: 100%;
			flex: 0 0 100%;
		}

		.footer-logo-row{
			flex-wrap: wrap;
		}
		.footer-logo-row{
			padding-top: 0;
			border: none;
		}
		
	}
	@media(max-width:524px){
		.footer-row{
			padding-top: 44px;
		}
		.footer-logo{
			display: block;
			width: 100%;
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 25px;
		}
		.footer-logo img{
			width: 92px;
		}
		.footer-logo-row {
			justify-content: flex-start;
		}
		.footer-logo-row .footer-link{
			margin: 0;
			margin-right: 30px;
		}
	}
	@media(max-width:468px){
		.f-col{
			margin-bottom: 25px;
		}
		.footer-title{
			margin-bottom: 8px;
			font-size: 14px;
		}
		a.footer-link{
			font-size: 14px;
		}
		.footer-logo-row p.footer-link, .footer-logo-row a.footer-link{
			font-size: 16px;
		}
	}
	/* .mobile-nav */
	@media(min-width:768px){
.mobile-nav{
	display: none;
}
	}
	@media(max-width:768px){
		.mobile-nav{
			display: block;
			position: fixed;
			top:80px;
			left:0;
			background: #fff;
			width: 100%;
			z-index: 90;
			visibility: hidden;
			transition: 250ms ease-in;
			transform: translate(0,-20%);
			opacity: 0;
			border-bottom-left-radius:8px;
			border-bottom-right-radius:8px;
		}
		.mobile-nav-show{
			visibility: visible;
			opacity: 1;
			transform: translate(0,0%);
		}
		.mobile-nav-links{
			padding: 45px 63px 60px 63px;
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
		}
		.mobile-link,.mobile-sign-in{
			font-family: 'TT Commons';
			font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 162%;
	color: #A1A1A1;
		}
		.mobile-sign-in{
			padding-bottom: 23px;
			margin-bottom: 35px;
			border-bottom: 1px solid #FF9994;
		}
		.menu-button-press .menu-button-line-two{
			width: 16px;
		}
	}
	@media(max-width:468px){
		.mobile-nav{
			top:50px;
		}
		.mobile-nav-links{
			padding: 31px 46px 31px 46px;
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
		}
		.mobile-sign-in{
			padding-bottom: 0px;
			margin-bottom: 20px;
		}
		.mobile-link,.mobile-sign-in{
			font-size: 16px;
		}
		.menu-button-press .menu-button-line-two{
			width: 11px;
		}
	}
	.mobile-link:hover,.mobile-sign-in:hover{
text-decoration: none;
	}

	.menu-button-press .menu-button-line-two,.menu-button-press .menu-button-line-one{
		background: #FF8D88;
	}




	.m-nemu-overley{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.1);
	}
	.active-show{
		display: block;
		animation: fadein .15s linear;
	}