
body{
	background: #ffffff;
}
.d-f-c-start{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.d-f-c-c{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.d-f-c-around{
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.d-f-start-around{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
}
.d-f-start-c{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}

.d-f-c-between{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.block-title{
	text-align: center;
	font-family: 'SangBleu Sunrise';
	color: #553F3F;
	font-size: 46px;
	font-style: normal;
font-weight: normal;
margin: 0px;
}



/* hero-slider */
.hs-circle--background{
	fill: none;
	stroke: rgba(255, 255, 255, 0.45);
	stroke-width: 3;
}
a:focus{
	outline: none;
	text-decoration: none;
}

.hero{
	position: relative;
	max-height: 900px;
}

.hs-circle--bar{
	fill: none;
	stroke: #fff;
	stroke-width: 3;
	stroke-dasharray: 100 100;
	/* stroke-dashoffset: 100; */
	stroke-linecap: round;
	transition: linear;
}

.hs-circle{
	transform: rotate(-90deg);
}
.hs-circle--inside{
	fill: rgba(255, 255, 255, 0.45);
	stroke: none;
}
.slick-dots {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.hero .slick-dots{
position: relative;
width: auto;
bottom: auto;
}
.hs-slide-pregress,.slide-pregress{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.hs-slide-pregress{
	height: 80px;
}
.hero .slick-dots li{
	margin: 0;
	margin-right: 20px;
}

.curent-slide-text{
	margin: 0px;
	margin-left: 40px;
	max-width: 370px;
	font-family: 'TT Commons';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 138%;
color: #553F3F;

}
.hs-dots{
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0;
}
.hero .slick-dots li {
	width: 7px;
	height: 7px;
	background:transparent;
}
.hero .slick-dots li button {
	width: 11px;
	height: 11px;
	color: transparent;
	background: transparent;
}
.hero .slick-dots li.slick-active,
.hero .slick-dots li:hover {
	background: transparent;
}

.hero .slick-dots li button:before {
top:50%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 0;
width: 11px;
height: 11px;
background: #fff;
opacity: 0.45;
border-radius: 11px;
transition: 250ms ease;
}
.hero .slick-dots li button:focus:before, .slick-dots li button:hover:before{
	opacity: 1;
	background: #fff;
}

.hero .slick-dots .slick-active button:before{
	margin: 0;
	margin-right: 20px;
	opacity: 1;
}

.hs-tiitle{
	font-family: 'SangBleu Sunrise';
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 127%;
margin: 0px;
color: #553F3F;
margin-bottom: 30px;
}
.hs-descr{
font-family: 'TT Commons';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 138%;
color: #553F3F;
margin: 0px;
}
.hs-container{
	width: 96%;
	max-width: 1700px;
	margin: 0 auto;


}
.hs-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding-top: 15vh;
padding-bottom: 15vh;
}
.hs-slide-left{
	width: 41.666666%;
	max-width: 605px;
	z-index: 10;
}
.hs-slide-right{
	width: 50%;
}
.hs-slide-right .hs-box{
	width: 100%;
	z-index: 10;
	position: relative;
	max-height: 600px;
}
.hs-decore-line{
	position: absolute;
	top: 0;
	right: calc(100vw - 95%);
	height: 102%;
	width: auto;
}
.hero-slide{
	/* padding-top: 15vh;
	padding-bottom: 10vh; */
	position: relative;
	overflow: hidden;

}
.hero-slides{
	position: relative;
	/* height: 80vh; */
}
.slick-slider{
	margin-bottom: 0px!important;
}
.slick-slide{
    height: inherit !important;
}
.slick-slide{
	height: auto;
}
.hs-link{
	font-family: 'TT Commons';
	font-weight: 500;
	font-size: 22px;
	line-height: 1;
display: inline-block;
	padding:  21px 86px 17px 86px;
	background: #FF8D88;
	color: #fff;
box-shadow: 0px 24px 54px rgba(0, 0, 0, 0.06);
border-radius: 47px;
margin-top: 8vh;
transition: 250ms ease;
}
.hs-link:hover{
	text-decoration: none;
	color: #fff;
	box-shadow: 0px 24px 54px rgba(0, 0, 0, 0.0);
	background-color: rgba(255, 142, 136, 0.8);
}
.hs-link:visited{
	color: #fff;
}
@media (max-width:1420px){
	.hs-tiitle{
		font-size: 48px;
	}
	.hs-content{
		padding-bottom: 120px;
	}
}
@media (max-width:1180px){
	.hs-slide-right{
		width: 58%;
	}
}
@media (max-width:1180px){
	.hs-tiitle{
		font-size: 42px;
	}
	.hs-link{
	margin-top: 50px;
	}
	.hs-descr{
		font-size: 20px;
	}
}

@media (max-width:998px){
	.hs-tiitle{
		font-size: 32px;
	}
	.hs-link{
	margin-top: 30px;
	font-size: 20px;
	}
	.hero{
		position: relative;
		max-height: none;
	}
}
@media (max-width:768px){
.hs-content{
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	padding-top: 130px;
	padding-bottom: 130px;
}
.hs-dots{
	bottom: 120px;
}
.hs-slide-pregress{
	height: auto;
}
.hs-slide-pregress{
	justify-content: center;
}
.slide-pregress{
	display: none;
}
.hs-tiitle{
	margin-bottom: 15px;
}
.hs-slide-left,.hs-slide-right{
	width: 100%;
}
.hs-slide-right{

	max-width: 90%;
	margin: 0 auto;
	margin-top: 30px;
}
.hs-slide-left{
	order: 0;
	max-width: 467px;
	height: 180px;
}
.hs-slide-right{
	order: 1;
	margin-bottom: 20px;
}
.hs-link{
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin: 0px;
	transform: translate(-50%,0);
	z-index: 24;
	white-space: nowrap;
}
.hero .slick-dots li button:before {
	width: 6px;
	height: 6px;
	opacity: 1;
	}
	.hero .slick-dots li{
		margin-right: 13px;
	}
	.hero .slick-dots .slick-active button:before{
		width: 10px;
		height: 10px;
	}

}



@media (max-width:468px){
.hs-slide-left{
	height: 160px;
	max-width: 280px;
}
.hs-tiitle{
	font-size: 24px;
}
.hs-descr{
	font-size: 16px;
}
.hs-slide-right{
	margin-top: 0px;
}
.hs-link{
	bottom: 23px;
	width: 94%;
	text-align: center;
	padding: 16px 0;
}
.hs-dots{
	bottom: 100px;
}
.hs-content{
	padding-top: 74px;
}
.hs-slide-right{
	margin: 0;
	width: 100%;
}
}


/*hero-slider-end*/


/* header */
.header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	height: 80px;
	right: 50%;
	transform: translate(50%,0);
	border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
	background: transparent;
	transition:border-bottom,background 250ms ease-in-out;
}

.menu-links-list{
	padding: 0;
	margin: 0;
	list-style: none;
}
.header-content{
	height: 100%;
}
.sign-up{
	border-left: 1.5px solid rgba(255, 255, 255, 0.5);
}
.menu-link,.sign-up{
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: normal;
font-size: 22px;
color: #ffffff;
line-height: 80px;
background-color: rgba(255, 255, 255, 0);
transition-property: background-color, color,border-left;
transition: background-color 250ms ease-in-out;
height: 100%;

}
.menu-link:hover,.sign-up:hover{
text-decoration: none;
background-color: rgba(255, 255, 255, 0.3);
}

.menu-link a,.sign-up a{
font-size: inherit;
color: inherit;
line-height: 80px;
display: block;
margin: 0px 2px;
padding: 0px 30px;
}
.menu-link a:hover,.sign-up a:hover{
text-decoration: none;
	}

.logo-container{
	height: 100%;
	width: 140px;
padding-left: 30px;
border-left: 1.5px solid rgba(255, 255, 255, 0.5);
transition:border-left,fill 250ms ease-in-out;
}
.logo-container svg{
width: 100%;
fill: #fff;
}
.header-solid{
	border-bottom:  1.5px solid rgb(137, 137, 137,0.2);
	background: #fff;
}
.header-solid .menu-link,.header-solid .sign-up{
color: #A9A9A9;

}
.header-solid .logo-container,.header-solid .sign-up{
	border-left:  1.5px solid rgb(137, 137, 137,0.2);

}
.header-solid .logo-container svg{
	width: 100%;
	fill: #FF9994;
	}
	.header-solid	.menu-link,.header-solid .sign-up{
		transition-property: background-color, color;
		transition:250ms ease-in-out;
	}
	.header-solid	.menu-link:hover,.header-solid .sign-up:hover{
		text-decoration: none;
		background-color: rgba(255, 153, 148,0.1);
		color:#FF9994;
		}
	
		.sign-up .link-get-box{
			display: none;
		}
		.menu-button{
			display: none;
		}
@media(max-width:992px){

.menu-link a,.sign-up a{

	margin: 0px 0px;
    padding: 0px 25px;
	}
}

@media(max-width:768px){
	.menu-links{
display: none;
	}
	.sign-up .link-sign-up{
		display: none;
	}
	.sign-up .link-get-box{
		display: block;
		padding: 0;
		color: #837E7E;
		padding-right: 22px;
	}
.logo-container svg{
		fill: #FF9994;
		}
		.logo-container {
			border:none;
			left: 50%;
    position: absolute;
		transform: translate(-50%, 0px);
		padding-left: 0px;
		width: 120px;
		}
	.sign-up{
		margin-right: 0px;
		border-left: none;
	}
	.header{
		border:none;
		background: #fff;
	}
	.header-solid .logo-container,.header-solid .sign-up{
		border:none;
	}
		.header-content{
			justify-content: space-between;
		}
		.menu-button {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 0 0 80px;
			height: 100%;
			position: relative;
		}
		.menu-button-line-one,.menu-button-line-two{
			position: absolute;
			width: 36px;
			height: 3.5px;
			background: #C4C4C4;
		}
		.menu-button-line-one{
			transform: translate(0,-5px);
		}
		.menu-button-line-two{
			transform: translate(0,5px);
		}
	}
	@media(max-width:468px){
		.header{
			height: 50px;
		}
		.sign-up{
			line-height: 50px;
			font-size: 14px;
			line-height: 1;
		}
	.sign-up a{
		line-height: 50px;
	}
	.sign-up .link-get-box{
		padding-right: 0px;
	}
	.logo-container{
		padding-left: 0px;
		width: 70px;
		justify-self: center;
	}
	.menu-button {
		width: 25px;
		height: 50px;
		flex: 0 0 25px;
	}
	.menu-button-line-one,.menu-button-line-two{
		position: absolute;
		width: 22px;
		height: 2px;
		background: #C4C4C4;
		border-radius: 2px;
	}
	.menu-button-line-one{
		transform: translate(0,-4px);
	}
	.menu-button-line-two{
		transform: translate(0,4px);
	}
	}




/* featured */

.featured{
	background: #FBF6F6;
	padding: 50px 0px;
	position: relative;
	transform: translate(0px,-4px);
}
.featured-title{
	font-family: 'SangBleu Sunrise';
	font-size: 20px;
	color: #402F2F;
	width: 30%;
	margin: 0;
	font-weight: 300;
}
.featured-logo{
	width: auto;
	max-height: 32px;
	margin-right: 40px;
	opacity: 0.35;
	transition: opacity 350ms ease;
	cursor: pointer;
	position: relative;
}
.featured-logo:last-child{
	margin-right: 0;
}
.featured-logo:hover{
	opacity: 0.80;
}
.featured-logo img{
width: 100%;
}
.logo-descr{
	position: absolute;
	top: 0%;
	width: 300px;
	transform: translate(0,-120%);
}
.logo-title{
	margin: 0;
}
.forbes{
	max-width: 92px;
}
.tc{
	max-width: 55px;
}
.bi{
	max-width: 86px;
}
.masable{
	max-width: 132px;
}
.in-touch{
	max-width: 104px;
}
.msm{
	max-width: 55px;
}
.featured-logos{
	width: 70%;
	max-width: 880px;
}
@media (max-width:992px){
	.featured-title{
		width: 25%;
		font-size: 16px;
	}
	.featured-logos{
		width: 75%;
	}
	.featured-row{
		justify-content: space-between;
	}
	.featured-logo{
		margin-right: 30px;
	}
}
@media (max-width:768px){
	.featured-title{
		width: 100px;
		font-size: 14px;
	}
	.featured-logos{
		width: calc(100% - 140px)
	}
}
@media (max-width:668px){
	.featured-row{
		flex-direction: column;
	}
	.featured-title{
		margin-bottom: 28px;
	}
	.featured-logos{
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.forbes img{
		min-width: 58px;
	}
	.tc img{
		min-width: 34px;
	}
	.bi img{
		min-width: 50px;
	}
	.masable img{
		min-width: 78px;
	}
	.in-touch img{
		min-width: 62px;
	}
	.msm img{
		min-width: 42px;
	}
	.featured-logo{
		flex: 0 0 33.33333%;
		max-width: 33%;
		margin: 0;
		display: flex;
		justify-content: center;
		padding: 5px 10px;
		margin-bottom: 12px;
	}
	.forbes{
	order: 0;
	}
	.tc{
	order: 1;
	}
	.bi{
	order: 3;
	}
	.masable{
		order: 4;
	}
	.in-touch{
		order: 5;
	}
	.msm{
	order: 2;
	}
	.featured{
		padding-top: 25px;
		padding-bottom: 25px;
	}
}





/* howitworks */
.howitworks-card-title{
	font-family: 'SangBleu Sunrise';
	font-size: 20px;
	color: #ED7873;
	margin: 0;
	text-align: center;
}
.howitworks-card{
	flex-direction: column;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	width: 25%;
	margin: 0px 35px;
}
.howitworks-card-img{
	margin-bottom: 64px;
	height: 214px;
}
.howitworks-card-img img{

	width: 100%;
}
.howitworks-card-descr{
	font-family: 'TT Commons';
	color: #837E7E;
	font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
text-align: center;
margin: 0;
margin-top: 38px;
}
.movement{
	max-width: 285px;
}
.box{
	max-width: 280px;
	width: 20%;
}
.experience{
	max-width: 400px;
	width: 35%;
}
.experience .howitworks-card-descr{
max-width: 278px;
}

.howitworks{
	margin-top: 105px;
	margin-bottom: 105px;
}
.howitworks .block-title{
	margin-bottom: 105px;
}
@media (max-width:992px){
	.block-title{
		font-size: 30px;
	}
	.howitworks .block-title{
		margin-bottom: 65px;
	}
	.howitworks-card-img{
		margin-bottom: 32px;
		height: 200px;
	}
	.howitworks-card{
		margin: 0px 15px;
	}
}



@media (max-width:768px){
	.howitworks{
		margin-top: 52px;
	}
	.movement,.box,.experience{
		max-width: none;
	}
	.block-title{
		font-size: 24px;
	}
	.howitworks .block-title{
		margin-bottom: 55px;
	}
	.howitworks-cards{
		flex-direction: column;
		align-items: center;
		align-content: center;
	}
	.howitworks-card-img{
		height: 128px;
		margin-bottom: 20px;
	}
	.howitworks-card-img img{
		height: 100%;
	}
	.howitworks-card{
		width: 100%;
		margin: 0;
		margin-bottom: 52px;
	}
	.howitworks-card-title{
		font-size: 24px;
	}
	.howitworks-card-descr{
		font-size: 16px;
		max-width: 354px;
		margin-top: 18px;
	}
}

/* subscription */
.subscription .block-title{
	margin-bottom: 128px;
}
.subscription-block{
	max-width: 284px;
	margin: 0 68px;
	width: 50%;
}
.subscription-block img{
width: 100%;
}
.subscription-block:first-child{
margin-left: 0px;
}
.subscription-block:last-child{
	margin-right: 0px;
	}
.subscription-blocks{
	margin-bottom: 100px;
	position: relative;
}
.subscription-blocks:last-child{
	margin-bottom: 0;
}
.subscription-descr{
	font-family: 'TT Commons';
	color: #8A8484;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
		line-height: 128.2%;
    margin: 0;
}
.subscription-title-strong{
	font-family: 'SangBleu Sunrise';
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 130%;
	color: #432E37;
	margin:45px 0 30px 0;
}
.subscription{
	position: relative;
}
.subscription-decore-line{
	position: absolute;
	width: 100%;
	top: 15%;
}
@media(max-width:768px){
	.subscription-blocks{
		margin: 0 0 42px 0;

	}
	.subscription{
		position: relative;
		overflow: hidden;
	}
.subscription-decore-line{
	width: 200%;
	transform: translate(-30%,0);
	top: 10%;
}
	.subscription-block{
max-width: 205px;
width: 40%;
margin: 0;

	}
	.subscription-title-strong{
		font-size: 22px;
		margin:35px  0 25px 0;
	}
	.subscription .block-title{
		margin-bottom: 75px;
	}
	.subscription-descr{
		font-size: 14px;
line-height: 128.2%;
	}
	.subscription-block:first-child{
		margin-right: 7%;
		}
		.subscription-block:last-child{
			margin-left: 7%;
			}
}