
body{
	background: #553F3F;
}
/* hero-slider */
.hs-circle--background{
	fill: none;
	stroke: rgba(255, 255, 255, 0.45);
	stroke-width: 3;
}
a:focus{
	outline: none;
	text-decoration: none;
}

.hero{
	position: relative;
	max-height: 900px;
}

.hs-circle--bar{
	fill: none;
	stroke: #fff;
	stroke-width: 3;
	stroke-dasharray: 100 100;
	/* stroke-dashoffset: 100; */
	stroke-linecap: round;
	transition: linear;
}

.hs-circle{
	transform: rotate(-90deg);
}
.hs-circle--inside{
	fill: rgba(255, 255, 255, 0.45);
	stroke: none;
}
.slick-dots {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.hero .slick-dots{
position: relative;
width: auto;
bottom: auto;
}
.hs-slide-pregress,.slide-pregress{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.hs-slide-pregress{
	height: 80px;
}
.hero .slick-dots li{
	margin: 0;
	margin-right: 20px;
}

.curent-slide-text{
	margin: 0px;
	margin-left: 40px;
	max-width: 370px;
	font-family: 'TT Commons';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 138%;
color: #553F3F;

}
.hs-dots{
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0;
}
.hero .slick-dots li {
	width: 7px;
	height: 7px;
	background:transparent;
}
.hero .slick-dots li button {
	width: 11px;
	height: 11px;
	color: transparent;
	background: transparent;
}
.hero .slick-dots li.slick-active,
.hero .slick-dots li:hover {
	background: transparent;
}

.hero .slick-dots li button:before {
top:50%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 0;
width: 11px;
height: 11px;
background: #fff;
opacity: 0.45;
border-radius: 11px;
transition: 250ms ease;
}
.hero .slick-dots li button:focus:before, .slick-dots li button:hover:before{
	opacity: 1;
	background: #fff;
}

.hero .slick-dots .slick-active button:before{
	margin: 0;
	margin-right: 20px;
	opacity: 1;
}

.hs-tiitle{
	font-family: 'SangBleu Sunrise';
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 127%;
margin: 0px;
color: #553F3F;
margin-bottom: 30px;
}
.hs-descr{
font-family: 'TT Commons';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 138%;
color: #553F3F;
margin: 0px;
}
.hs-container{
	width: 96%;
	max-width: 1700px;
	margin: 0 auto;


}
.hs-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding-top: 15vh;
padding-bottom: 15vh;
}
.hs-slide-left{
	width: 41.666666%;
	max-width: 605px;
	z-index: 10;
}
.hs-slide-right{
	width: 50%;
}
.hs-slide-right .hs-box{
	width: 100%;
	z-index: 10;
	position: relative;
	max-height: 600px;
}
.hs-decore-line{
	position: absolute;
	top: 0;
	right: calc(100vw - 95%);
	height: 102%;
	width: auto;
}
.hero-slide{
	/* padding-top: 15vh;
	padding-bottom: 10vh; */
	position: relative;
	overflow: hidden;

}
.hero-slides{
	position: relative;
	/* height: 80vh; */
}
.slick-slider{
	margin-bottom: 0px!important;
}
.slick-slide{
    height: inherit !important;
}
.slick-slide{
	height: auto;
}
.hs-link{
	font-family: 'TT Commons';
	font-weight: 500;
	font-size: 22px;
	line-height: 1;
display: inline-block;
	padding:  21px 86px 17px 86px;
	background: #FF8D88;
	color: #fff;
box-shadow: 0px 24px 54px rgba(0, 0, 0, 0.06);
border-radius: 47px;
margin-top: 8vh;
transition: 250ms ease;
}
.hs-link:hover{
	text-decoration: none;
	color: #fff;
	box-shadow: 0px 24px 54px rgba(0, 0, 0, 0.0);
	background-color: rgba(255, 142, 136, 0.8);
}
.hs-link:visited{
	color: #fff;
}
@media (max-width:1420px){
	.hs-tiitle{
		font-size: 48px;
	}
	.hs-content{
		padding-bottom: 120px;
	}
}
@media (max-width:1180px){
	.hs-slide-right{
		width: 58%;
	}
}
@media (max-width:1180px){
	.hs-tiitle{
		font-size: 42px;
	}
	.hs-link{
	margin-top: 50px;
	}
	.hs-descr{
		font-size: 20px;
	}
}

@media (max-width:998px){
	.hs-tiitle{
		font-size: 32px;
	}
	.hs-link{
	margin-top: 30px;
	font-size: 20px;
	}
}
@media (max-width:768px){
.hs-content{
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	padding-top: 130px;
	padding-bottom: 130px;
}
.hs-dots{
	bottom: 120px;
}
.hs-slide-pregress{
	height: auto;
}
.hs-slide-pregress{
	justify-content: center;
}
.slide-pregress{
	display: none;
}
.hs-tiitle{
	margin-bottom: 15px;
}
.hs-slide-left,.hs-slide-right{
	width: 100%;
}
.hs-slide-right{

	max-width: 90%;
	margin: 0 auto;
	margin-top: 30px;
}
.hs-slide-left{
	order: 0;
	max-width: 467px;
	height: 180px;
}
.hs-slide-right{
	order: 1;
	margin-bottom: 20px;
}
.hs-link{
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin: 0px;
	transform: translate(-50%,0);
	z-index: 24;
	white-space: nowrap;
}
.hero .slick-dots li button:before {
	width: 6px;
	height: 6px;
	opacity: 1;
	}
	.hero .slick-dots li{
		margin-right: 13px;
	}
	.hero .slick-dots .slick-active button:before{
		width: 10px;
		height: 10px;
	}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
.hs-dots{
	bottom: 80px;
}
}

@media (max-width:468px){
.hs-slide-left{
	height: 160px;
	max-width: 280px;
}
.hs-tiitle{
	font-size: 24px;
}
.hs-descr{
	font-size: 16px;
}
.hs-slide-right{
	margin-top: 0px;
}
.hs-link{
	bottom: 23px;
	width: 94%;
	text-align: center;
	padding: 16px 0;
}
.hs-dots{
	bottom: 100px;
}
.hs-content{
	padding-top: 74px;
}
.hs-slide-right{
	margin: 0;
	width: 100%;
}
}


/*hero-slider-end*/


